body
{
    background-color: darkslategrey;
}

.containerAll
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header
{
    align-items: center;
    height: 100px;
    width: auto;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}


.contGrids
{   
    min-width: 600px;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;

}

.square
{
    background-color: white;
    width: 50px;
    height: 50px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}

.btnContainer
{
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-bottom: 20px;
}

button
{
    font-size: 20px;
    border-radius: 5px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-color: #3882f6;
    border-color: transparent;
    color: azure;
    overflow: auto;
}

.permahover 
{
    background: red;
}

